.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.widgets {
  display: flex;
  column-gap: 2.6rem;  
}

.widgets:before {
  content: "";
  border-right: 0.1rem solid var(--divider-color);
}

.widgets div:first-child {
  order: -1;
}

.search {
  margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 5.4rem;
  }

  .search {
    margin-bottom: 4.3rem;
  }
}

@media (min-width: 1440px) {
  .header {
    margin-bottom: 5.1rem;
  }

  .search {
    margin-bottom: 4.5rem;
  }
}