.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%; 
  padding: 1.4rem 6rem 1.4rem 2.4rem;
  font-size: var(--font-size-heading-s-mobile);
  font-weight: 700;
  box-sizing: border-box;
  background-color: var(--color-grey-100);
  border: 1px solid var(--color-grey-100);
  border-radius: 1.6rem;
}

.input:focus  {
  border: 1px solid var(--color-purple);
  outline: none;
}

.input::placeholder {
  opacity: 0.45;
}

.input[aria-invalid='true'] {
  border: 1px solid var(--color-soft-red);
}

.icon {
  position: absolute;
  top: 50%;
  right: 2.45rem;
  transform: translateY(-50%);
  color: var(--color-purple);
}

.errorMessage {
  color: var(--color-soft-red);
  font-size: var(--font-size-heading-s-mobile);
}